$gray: #635F85;
$gray-light: #E7E7E7;
$gray-lighter: #F4F6FD;
$gray-dark: #051441;
$gray-blur: #7F8EA1;
$gray-blur-dark: #6B7D92;
$primary-color: #FF7D00;
$secondary-color: #5A73E5;
$third-color: #F4A11A;
:root {
  --section-spacing: 140px;
  @media screen and (max-width: 1023.98px) {
    --section-spacing: 70px;
  }
  @media screen and (max-width: 767.98px) {
    --section-spacing: 50px;
  }
}