section.blog 
  .container
    .blog-header 
      h2.global-heading.global-heading--big.blog-heading Our Regular Updated Blog Posts
      p.global-text Tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque.
    .blog-list 
      +blogItem("./images/blog1.jpg", "SEO tips and tricks for new", "Volutpat est velit egestas dui id ornare arcu odio ut. Orci a scelerisque purus semper eget duis at tellus at.")
      +blogItem("./images/blog2.jpg", "A Guide to Google SEO", "Dolor sit amet consectetur adipisicing elit. Iure dignissimos quasi ut rerum nisi a nostrum.")
      +blogItem("./images/blog3.jpg", "Best Practices SEO Content", "Id diam maecenas ultricies mi eget mauris pharetra et. Diam ut venenatis tellus in. Vitae semper quis.")
    
    