footer.footer
  .container 
    .footer-main
      .footer-column
        a.footer-logo(href="#!")
          img(srcset="./images/footer-logo.png 2x")
        p.footer-desc Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc.
        .social 
          a.social-item(href="#!")
            img(src="./images/fb.svg")
          a.social-item(href="#!")
            img(src="./images/tw.svg")
          a.social-item(href="#!")
            img(src="./images/ins.svg")
      .footer-column 
        h3.footer-title Services
        ul.footer-links 
          li.footer-item 
            a.footer-link(href="#!") Email Marketing Social
          li.footer-item 
            a.footer-link(href="#!") Media Marketing Search
          li.footer-item 
            a.footer-link(href="#!") Engine Optimization
          li.footer-item 
            a.footer-link(href="#!") Prefect Development
          li.footer-item 
            a.footer-link(href="#!") Web Development
      .footer-column 
        h3.footer-title Support
        ul.footer-links 
          li.footer-item 
            a.footer-link(href="#!") Community 
          li.footer-item 
            a.footer-link(href="#!") Support Documents
          li.footer-item 
            a.footer-link(href="#!") Help API Documents
          li.footer-item 
            a.footer-link(href="#!") About Us
          li.footer-item 
            a.footer-link(href="#!") Email Contact
      .footer-column 
        h3.footer-title Contact Us
        ul.footer-links 
          li.footer-item 
            a.footer-link(href="#!") support@gmail.com
          li.footer-item 
            a.footer-link(href="#!") (84) 456-789-321 
          li.footer-item 
            a.footer-link(href="#!") North Cry, 547 Link Road.
    .footer-copyright All Right Reserved by Us! Copyright 2021 