section.subscribe
  .container.subscribe-container
    .subscribe-main
      .subscribe-content 
        h2.subscribe-heading Sign up to Our Newsletter
        p.subscribe-desc You need to get positive results when you spend hard earned revenue and time.
      .subscribe-form
        input.subscribe-input(type="email" placeholder="Email...")
        button.btn.btn--primary.subscribe-btn Subscribe
